---
 import astroLogo from '../assets/astro.svg';
---
<div class="flex justify-between bg-red-700 py-2 px-3">

    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/projects">Projects</a>
    <a href="/githubc">GitHub Contributions</a>
    

</div>
